  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Account - View Order</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/account/accountViewOrder/accountViewOrder.css" />
    <script src="/account/accountViewOrder/accountViewOrder.js"></script>
    <link rel="icon" type="image/x-icon" href="/assets/favicon-16x16.png" />
  </head>
  <body>
    <div class="header" id="header"></div>
    <div class="accountNavBar" id="accountNavBar"></div>
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-6">
          <div class="card border-0">
            <div class="card-header">
              <h5 class="card-title">Order Details</h5>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="form-floating mb-3">
                      <input type="text" readonly class="form-control-plaintext" id="orderNumber" value="<%= order._id %>" />
                      <label for="orderNumber">Order Number</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input type="email" readonly class="form-control-plaintext" id="email" value="<%= order.shippingDetails.email %>" />
                      <label for="email">Email</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input type="text" readonly class="form-control-plaintext" id="paymentMethod" value="<%= order.paymentMethod %>" />
                      <label for="paymentMethod">Payment Method</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input type="text" readonly class="form-control-plaintext" id="orderDate" value="<%= new Date(order.orderDate).toLocaleDateString() %>" />
                      <label for="orderDate">Order Date</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">                    
                    <div class="form-floating mb-3">
                      <input type="text" readonly class="form-control-plaintext" id="deliveryAddress"
                        value=" <%= order.shippingDetails.street  %> <%= order.shippingDetails.houseNumber %>, <%= order.shippingDetails.city  %>" />
                      <label for="deliveryAddress">Delivery Address</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input type="text" readonly class="form-control-plaintext" id="contactNumber"
                        value="<%= order.shippingDetails.phone %>" />
                      <label for="contactNumber">Contact Number</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input type="text" readonly class="form-control-plaintext" id="orderNotes"
                        value="<%= order.shippingDetails.ordersNotes %>" />
                      <label for="orderNotes">Order notes</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card border-0">
            <div class="card-header">
              <h5 class="card-title">Order Summary</h5>
            </div>
            <div class="card-body">
              <table class="table">
                <thead>
                  <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                  </tr>
                </thead>
                <tbody>
                  
                  <% order.products.forEach(function(product) { %>
                    <tr>
                      <td><%= product.product.productName %></td>
                      <td><%= product.quantity %></td>
                      <td><%= product.product.productPrice %></td>
                    </tr>
                  <% }); %>          
                  <tr>
                    <th>Total</th>
                    <th></th>
                    <td class="table-price"><%= parseInt(order.orderPrice) %>₪</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer" id="footer"></div>

    <script src="\partials\partials.js"></script>
    <script src="\account\account.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>

  </html>